@model Lernilo.Web.Data.Entities.Tutorial
@{
    ViewData["Title"] = "Tutorial";
}

    <body style="background-color:darkseagreen">

        <partial name="_TutorialDetail" />
        <hr />
        <a asp-action="Index" class="btn btn-success"><i class="glyphicon glyphicon-arrow-left"></i></a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
    </body>